
<ion-content>
  <ion-row >
    <ion-col ></ion-col>
    <ion-col size="3.8" class="ion-text-center" style="margin-top: 50px;">
      <ion-card color="success">
      <img src="assets/icon/R&J_LOGO.png" style="width: auto; height: auto; margin-top: 20px;"/>
      </ion-card>
      <div class="ion-center">
    <ion-card >
      <ion-text color="success" class="ion-text-center">
        <h1><b>Welcome!</b></h1>
      </ion-text>
      <ion-text color="success" class="ion-text-center">
        <p>Let's get you started.</p>
      </ion-text> 
      <img src="assets/vegetables/background.jpg" style="border-radius: 60px; padding: 20px;"/>
      <ion-button expand="full" shape="round" color="success" href="/tabs/tab1" style="padding-left: 20px; padding-right: 20px;">SIGN UP</ion-button>
      <ion-button expand="full" shape="round" color="success" href="/tabs/tab1" style="padding-left: 20px; padding-right: 20px;">LOGIN</ion-button>

    </ion-card>
  </div>
  </ion-col>
  <ion-col></ion-col>
  </ion-row>
  </ion-content>
  