.center-content {
    text-align: center;
  }
  
  .center-image {
    margin: auto;
  }
  .lower-image {
    margin-top: 1000px; /* Adjust the margin-top value as needed */
  }
  .custom-button {
    height: 50px; /* Set the desired height for your buttons */
  }
  .lower-buttons {
    margin-top: 100px; /* Adjust the margin-top value as needed */
  }