<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>product-inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">product-inventory</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-card>
  <img src="https://pngteam.com/images/broccoli-png-1024x768_31047d97_transparent_20281b.png.png" />
  <ion-card-header>
    <ion-card-title>Potato</ion-card-title>
    <ion-card-subtitle>Shell Life: </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <b>P100 / kg</b> 
  </ion-card-content>
  <ion-card-content>
    <ion-button shape="round">Change</ion-button>
  </ion-card-content>
</ion-card>