
<ion-content>
  <ion-card style="background-image: url(assets/vegetables/background.jpg);width: 100%;height: 100%;">
  <ion-row style="margin-top: 30%;">
    <ion-col class="ion-text-center" style="margin-top: 10%;">
      <ion-card color="success">
      <img src="assets/icon/R&J_LOGO.png" style="width: 85%; height: auto; margin-top: 20px;"/>
      </ion-card>
      <div class="ion-center">
    <ion-card >
      <ion-text color="success" class="ion-text-center">
        <h1><b>Welcome!</b></h1>
      </ion-text>
      <ion-text color="success" class="ion-text-center">
        <p>Let's get you started.</p>
      </ion-text> 
      <ion-button shape="round" color="success" href="/sign-up" style="padding-left: 20px; padding-right: 20px;margin-bottom: 15px;">SIGN UP</ion-button>
      <ion-button shape="round" color="success" href="/login" style="padding-left: 20px; padding-right: 20px;margin-bottom: 15px;">LOGIN</ion-button>


    </ion-card>
  </div>
  </ion-col>
  </ion-row>
</ion-card>
  </ion-content>
  