
<ion-content>
  <ion-card style="background-image: url(assets/vegetables/background.jpg);width: 100%;height: auto;">

  <ion-row>
    <ion-col ></ion-col>
    <ion-col size="3.8" class="ion-text-center" style="margin-top: 30px">
      <ion-card color="success">
      <img src="assets/icon/main_logoW.png" style="width: 130px; height: auto; margin-top: 20px;"/>
      <ion-title style="font-size:26px;  font-family: 'Raleway', sans-serif;font-weight: bold; margin-bottom: 20px; margin-top: 10px;">
        Forget Password
      </ion-title>
      </ion-card>
      <div class="ion-center">
    <ion-card >
      <ion-list>
        <ion-text color="success" class="ion-text-justify">
          <h2>&nbsp;&nbsp;Forgot Password</h2>
        </ion-text> 
        <ion-item>
          <ion-input type="Name" placeholder="Verification Code"></ion-input>
        </ion-item>
        <ion-button fill="clear" style="font-size: 12px;margin-right: 50%;" color="tertiary"><i><u>send verification code again</u></i></ion-button>

        <ion-text color="success" class="ion-text-justify">
          <h2>&nbsp;&nbsp;New Password</h2>
        </ion-text> 
        <ion-item>
          <ion-input label="Enter Password" type="password" value="Password"></ion-input>
          <ion-input label="Confirm Password" type="password" value="Password"></ion-input>
        </ion-item>

      </ion-list>
      <ion-button expand="full"shape="round" color="success" href="/home" style="padding-left: 20px; padding-right: 20px;" >Continue</ion-button>
      <ion-title class="ion-text-center" color="dark" style="font-size: 11px;margin-top: 3%;"> <i>or</i></ion-title>
      <ion-button expand="full" shape="round" color="success" href="/login" style="padding-left: 20px; padding-right: 20px; margin-bottom: 15px;">Sign in here</ion-button>
      
  
    </ion-card>
  </div>
  </ion-col>
  <ion-col></ion-col>
  </ion-row>
  </ion-card>
  </ion-content>
  
