<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button fill="outline"size="large" color="success" default-href="#">
      </ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button  size="large" color="success" href="/settings">
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Fresh Selections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">fresh_selections</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
  <ion-col size="9">
  <ion-card>

  <img src="assets/vegetables/tomatoes.png" style="width: 30%; height: auto; display: block; margin: 0 auto;" 
  />
  <ion-card-header>
    <ion-card-title>Tomato</ion-card-title>
    <ion-card-subtitle>Shell Life: 24 hrs</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <b>P100 / kg</b> 
    <br>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button  size="large" fill="outline" color="success"> Change </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button  size="large" fill="outline" color="danger" > Remove </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-content>

</ion-card>
</ion-col>
<ion-col></ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col></ion-col>
<ion-col size="9">
<ion-card>

<img src="assets/vegetables/broccoli.png" style="width: 30%; height: auto; display: block; margin: 0 auto;" 
/>
<ion-card-header>
  <ion-card-title>Brocolli</ion-card-title>
  <ion-card-subtitle>Shell Life: 24 hrs</ion-card-subtitle>
</ion-card-header>

<ion-card-content>
  <b>P90 / kg</b> 
  <br>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  size="large" fill="outline" color="success"> Change </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  size="large" fill="outline" color="danger" > Remove </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-card-content>

</ion-card>
</ion-col>
<ion-col></ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col></ion-col>
<ion-col size="9">
<ion-card>

<img src="assets/vegetables/banana.png" style="width: 30%; height: auto; display: block; margin: 0 auto;" 
/>
<ion-card-header>
  <ion-card-title>Banana</ion-card-title>
  <ion-card-subtitle>Shell Life: 24 hrs</ion-card-subtitle>
</ion-card-header>

<ion-card-content>
  <b>P50 / kg</b> 
  <br>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  size="large" fill="outline" color="success"> Change </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  size="large" fill="outline" color="danger" > Remove </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-card-content>

</ion-card>
</ion-col>
<ion-col></ion-col>
</ion-row>
</ion-grid>
<ion-button expand="full" size="large">Add Product</ion-button>
</ion-content>
