<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear"size="large" color="success" href="/sales-report">
        <ion-icon name="caret-back-outline"></ion-icon>
            </ion-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button color="success" href="/home" >Home</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="success" href="/profile">Profile </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button  size="large" color="success" href="/settings">
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title color="success" style="font-family: 'Raleway',sans-serif; font-weight: bold;">Store Overview</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">store-overview</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row><ion-col></ion-col>
  <ion-col size="8">
    <ion-card>
    <ion-title class="ion-text-center" color="success" style="font-size: 56px; font-family: 'Raleway',sans-serif;font-weight: bold;"> Income Statement</ion-title>
    <ion-card>
      dito ilalagay yung chart graph ng sales or what 
      <img src="https://www.mindtools.com/media/Diagrams/Charts-and-Graphs-4.jpg"/>
    </ion-card>
    
    <ion-row><ion-col></ion-col>
    <ion-col size="7">
      <ion-card color="success">
        <ion-row>
          <ion-col><ion-title class="ion-text-center" style="font-size: 34px;font-family: 'Raleway',sans-serif;font-weight: bold;">Total Revenue:</ion-title></ion-col>
          <ion-col><ion-title class="ion-text-center" style="font-size: 32px;font-family: 'Raleway',sans-serif;">P 12,000</ion-title></ion-col>
        </ion-row>
      </ion-card>

      <ion-card color="success">
        <ion-row>
          <ion-col><ion-title class="ion-text-center" style="font-size: 34px;font-family: 'Raleway',sans-serif;font-weight: bold;">Total Net Income:</ion-title></ion-col>
          <ion-col><ion-title class="ion-text-center" style="font-size: 32px;font-family: 'Raleway',sans-serif;">P 2,000</ion-title></ion-col>
        </ion-row>
      </ion-card>

      <ion-card color="success">
        <ion-row>
          <ion-col><ion-title class="ion-text-center" style="font-size: 34px;font-family: 'Raleway',sans-serif;font-weight: bold;">Total Gross Profit:</ion-title></ion-col>
          <ion-col><ion-title class="ion-text-center" style="font-size: 32px;font-family: 'Raleway',sans-serif;">P 1,500</ion-title></ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col></ion-col></ion-row>

  </ion-card>
  </ion-col><ion-col></ion-col></ion-row>
</ion-content>

