<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button fill="outline"size="large" color="success" default-href="#">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button  size="large" color="success" href="/settings">
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab4</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-card-content color="light">
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/icon/ruthaltea.jpg" />
      </ion-thumbnail>
      <ion-card-header>
      <ion-label><ion-card-title>Ruth Altea</ion-card-title></ion-label>
      <ion-label><ion-card-subtitle>Admin</ion-card-subtitle></ion-label>
    </ion-card-header>
    </ion-item>
    <ion-item>
      <ion-input size="large" color="success"label="Email input" labelPlacement="stacked" type="email" placeholder="Enter your email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="First Name" color="success"labelPlacement="stacked" placeholder="Enter your first name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Last Name" color="success" labelPlacement="stacked" placeholder="Enter your last name"></ion-input>
    </ion-item>

  </ion-list>
</ion-card-content>

<ion-button  fill="outline" size="Large"color="success"style="font-weight: bold;justify-content: center; margin-top: 30px;"href="/main" >Sign out <ion-icon name="log-out-outline" slot="end"></ion-icon></ion-button>

<div class="ion-activatable ripple-parent rounded-rectangle">
  Bounded
  <ion-ripple-effect></ion-ripple-effect>
</div>