
<ion-content>
<ion-row >
  <ion-col ></ion-col>
  <ion-col size="3.8" class="ion-text-center" style="margin-top: 50px;">
    <ion-card color="success">
    <img src="assets/icon/main_logoW.png" style="width: 180px; height: auto; margin-top: 20px;"/>
    <ion-title style="font-size:26px;  font-family: 'Raleway', sans-serif;font-weight: bold; margin-bottom: 20px; margin-top: 10px;">
      Login
    </ion-title>
    </ion-card>
    <div class="ion-center">
  <ion-card >
    <ion-list>
      <ion-item>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input color="success"type="password" placeholder="Password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button fill="clear" style="font-size: 12px;margin-left: 50%;" color="success"><i><u>Forgot password?</u></i></ion-button>
    <ion-button expand="full"shape="round" color="success" href="/tabs/tab1" >Continue</ion-button>
    <ion-title class="ion-text-center" color="dark" style="font-size: 11px;margin-top: 3%;"> <i>or</i></ion-title>
    <ion-button fill="clear"color="success" size="large" style="margin-left: 2%;"><ion-icon name="logo-facebook"></ion-icon></ion-button>
    <ion-button fill="clear"color="success" size="large"><ion-icon name="logo-google"></ion-icon></ion-button>

    <ion-title style="font-size:12px;  font-family: 'Raleway', sans-serif;font-weight: bold; margin-bottom: 10px;">
      Don't have account?<ion-button fill="clear" style="font-size: 12px;margin-bottom: 10px;" color="success" href="/sign-up"><i>Signup</i></ion-button>
    </ion-title>
    

  </ion-card>
</div>
</ion-col>
<ion-col></ion-col>
</ion-row>
</ion-content>
