
<ion-content>
<ion-row>
  <ion-col></ion-col>
  <ion-col size="4" class="ion-text-center" style="margin-top: 175px;">
    <ion-card color="success">
    <img src="assets/icon/main_logoW.png" style="width: 200px; height: auto; margin-top: 20px;"/>
    <ion-title style="font-size:26px;  font-family: 'Raleway', sans-serif;font-weight: bold; margin-bottom: 20px; margin-top: 10px;">
      Login
    </ion-title>
    </ion-card>
    <div class="ion-center">
  <ion-card >
    <ion-list>
      <ion-item>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input color="success"type="password" placeholder="Password"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>
</div>
</ion-col>
<ion-col></ion-col>
</ion-row>
</ion-content>
