  .custom-align-button {
    margin-left: 1250px; /* Adjust the left margin as needed */
    margin-top: 5px; /* Adjust the top margin as needed */
    /* Add any other custom styling as needed */
  }
  .center-content {
    text-align: center;
  }
  
  .center-image {
    margin: auto;
  }
  .lower-image {
    margin-top: 1000px; /* Adjust the margin-top value as needed */
  }
  .custom-button {
    height: 50px; /* Set the desired height for your buttons */
  }
  .lower-buttons {
    margin-top: 100px; /* Adjust the margin-top value as needed */
  }
  .background-image {
    background-image: url('../../assets/icon/homebg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height based on your design */
  }
  